<div ng-controller="StatesController">
<h1>Listing states</h1>
<table class="table data-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Abreviation</th>
      <th><i class="icon-plus" ></i><a ng-click="openForm()" />New State</a></th>
    </tr>
  </thead>

  <tbody>
      <tr ng-mouseover="showInfo()" ng-mouseout="hideInfo()" ng-repeat="state in items">
        <td>{{ state.name }}</td>
        <td>{{ state.abreviation }}</td>
        <td><span class="icon-edit" ng-click="editThis()"></span></td>   
   </tr>
  </tbody>
</table>
<br>

<div ng-repeat="state in items" modal="modal().shouldBeOpen()" close="modal.close()" options="modal().opts">
 <div class="modal-header center">
  <h3>State Description</h3>
 </div>
 <div class="modal-body justify">
    {{ state.description }}
 </div>
 <div class="modal-footer">
   <button class="btn btn-warning cancel" ng-click="modal().close()">Cancel</button>
 </div>
</div>

<div modal="modalCreate.shouldBeOpen()" close="modalCreate.close()" options="modalCreate.opts">
 <div class="modal-header center">
  <h3>{{ action }} State</h3><br />
  <span ng-show="state != null"><span class="alert alert-info"><i class="icon-info-sign"></i><b>State Id: </b>{{ state.id }}</span><br/>
  </span>

 </div>
 <div class="modal-body">
   <form class="form-horizontal" name="myForm" > 
    <div class="control-group field" ng-class="{'alert alert-error':errors.name}">
     <label class="control-label">Name:</label>
     <div class="controls" > 
         <input type="text" ng-model="state.name" required>
         <span ng-repeat="error in errors.name">{{ error }}</span>
     </div>
    </div>
    <div class="control-group field" ng-class="{'alert alert-error':errors.abreviation}">
      <label class="control-label">Abreviation:</label>
      <div class="controls">
        <input type="text" ng-model="state.abreviation" required>
        <span ng-repeat="error in errors.abreviation">{{ error }}</span>
      </div>
    </div>
    <div class="control-group field">
      <div class="controls">
        <textarea placeholder="Description" ng-model="state.description"></textarea>
      </div>
    </div>
  
   </form>
 </div>
 <div class="modal-footer">
   <button ng-show="state" class="btn-large" ng-click="previous()"><i class="icon-arrow-left"></i></button>
   <button ng-show="state" class="btn-large" ng-click="next()"><i class="icon-arrow-right"></i></button>
   <button class="btn-large btn-primary" ng-click="create(state)">Save</button>
   <button class="btn-large btn-danger cancel" ng-click="modalCreate.close()">Cancel</button>
 </div>
</div>


</div>