<div ng-controller="StatesController">
  <h1>Listing states</h1>
    <div ng-show="message.success" class="alert alert-success">
    <a class="close" ng-click="message.success = []"><i class="icon-remove"></i></a>
    <p>{{ message.success }}</p>
  </div>
  <table class="table data-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Abreviation</th>
        <th>
          <button class="btn btn-success" ng-click="openForm()" >
            <i class="icon-plus" ></i>
            New State
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="state in items">
        <td>{{ state.name }}</td>
        <td>{{ state.abreviation }}</td>
        <td>
          <a class="label label-warning" ng-click="editThis()" >
            <i class="icon-edit"></i>
            Edit
          </a>
          <span class="divider-verical"></span>  
          <a class="label label-important" ng-click="deleteThis()" >
            <i class="icon-trash"></i>
            Delete
          </a>
        </td>   
      </tr>
    </tbody>
  </table>
  <br>
  <div modal="modalCreate.shouldBeOpen()" close="modalCreate.close()" options="modalCreate.opts">
    <div class="modal-header center">
      <h3>{{ action }} State</h3>
      <br />
      <span ng-show="state != null">
        <span class="alert alert-info">
          <i class="icon-info-sign"></i>
          <b>State Id: </b>{{ state.id }}
        </span>      
      </span>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="myForm" > 
        <div class="control-group field" ng-class="{'alert alert-error':errors.name}">
           <label class="control-label">Name:</label>
           <div class="controls" > 
             <input type="text" ng-model="state.name" required>
             <span ng-repeat="error in errors.name">{{ error }}</span>
           </div>
        </div>
        <div class="control-group field" ng-class="{'alert alert-error':errors.abreviation}">
            <label class="control-label">Abreviation:</label>
            <div class="controls">
              <input type="text" ng-model="state.abreviation" maxlength="2" required>
              <span ng-repeat="error in errors.abreviation">{{ error }}</span>
            </div>
        </div>
        <div class="control-group field">
          <div class="controls">
             <textarea placeholder="Description" ng-model="state.description"></textarea>
          </div>
        </div>    
      </form>
    </div>
    <div class="modal-footer">
       <button ng-show="state" class="btn-large" ng-click="previous()">
          <i class="icon-arrow-left"></i>
       </button>
       <button ng-show="state" class="btn-large" ng-click="next()">
          <i class="icon-arrow-right"></i>
       </button>
       <button class="btn-large btn-primary" ng-click="create(state)">
         Save
       </button>
       <button class="btn-large btn-danger cancel" ng-click="modalCreate.close()">
         Cancel
       </button>
    </div>
  </div>
  <div modal="modalDelete.shouldBeOpen()" close="modalDelete.close()" options="modalDelete.opts">
    <div class="modal-header center">
      <h3>Delete State</h3>
      <br />
    </div>
    <div class="modal-body">
       Are you sure you want to delete this state?
       {{ state.name }}
    </div>
    <div class="modal-footer">
       <button ng-show="state" class="btn-success" ng-click="delete()">
          <i class="icon-ok"></i>
          YES
       </button>
       <button ng-show="state" class="btn-warning" ng-click="modalDelete.close()">
          <i class="icon-remove"></i>
           NO
       </button>
    </div>
  </div>
</div>